<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCXmwh3NX-zgRJuQVn47UmzwMAQLzd5_UU</string>
	<key>GCM_SENDER_ID</key>
	<string>210655558979</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SebPal.Tasks1</string>
	<key>PROJECT_ID</key>
	<string>todolist-e9984</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-e9984.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:210655558979:ios:25bb04c91ba357688603f6</string>
</dict>
</plist>